.btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #9753a4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #883a97;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.resultado {
  font-size: 1rem;
  color: #333;
}
